.article .breadcrumb__link, .main .sidebar__post-title {
  text-decoration: none;
}

.article .breadcrumb__link:hover, .main .sidebar__post-title:hover {
  text-decoration: underline;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
}
.header__logo {
  text-align: center;
}
.header__img {
  max-width: 350px;
}
@media (max-width: 767.98px) {
  .header .menu__list {
    flex-wrap: wrap;
    padding: 15px 0;
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header .menu__list {
    padding: 20px 0;
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .header .menu__list {
    border-top: 1px solid #eaeaeb;
    border-bottom: 1px solid #eaeaeb;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    width: 80%;
  }
}
.header .menu__links {
  position: relative;
}
@media (max-width: 767.98px) {
  .header .menu__links {
    padding: 5px 0;
  }
}
.header .menu__links:not(:last-child)::after {
  background-color: #eaeaeb;
  bottom: 0;
  content: "";
  height: 15px;
  margin: auto;
  position: absolute;
  top: 0;
  right: -3px;
  width: 1px;
}
.header .menu__link {
  color: #464646;
  padding: 0 25px;
}
.header .menu__link:hover {
  color: #a050be;
}

.main {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}
.main__content {
  width: 70%;
  padding: 40px 8px;
}
@media (max-width: 767.98px) {
  .main__content {
    width: 100%;
  }
}
.main__post {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-align: center;
}
.main__title {
  color: #464646;
  font-size: 22px;
  letter-spacing: 1.5;
  text-decoration: none;
}
.main__title:hover {
  color: #a050be;
}
.main__subtitle {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.main__date {
  font-size: 12px;
  font-style: italic;
  margin: 0 10px;
}
.main__tag {
  border: 1px solid #a050be;
  color: #a050be;
  margin: 0 10px;
  font-size: 14px;
  padding: 5px 7px;
}
.main__details {
  border: 1px solid #eaeaeb;
}
.main__img {
  width: 100%;
}
.main__description {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  padding: 40px 0 25px;
}
.main__btn {
  background-color: #fabe50;
  color: #a050be;
  font-size: 16px;
  letter-spacing: 1.5;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s;
}
.main__btn:hover {
  color: #fabe50;
  background-color: #a050be;
}
.main__info {
  align-items: center;
  border-top: 1px solid #eaeaeb;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.main__author {
  border-right: 1px solid #eaeaeb;
  width: 50%;
}
.main__p {
  font-size: 14px;
  color: #464646;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main__comments {
  width: 50%;
}
.main__a {
  color: #464646;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
.main__a:hover {
  color: #a050be;
}
.main__sidebar {
  padding: 40px 10px;
  width: 25%;
}
.main .sidebar__top {
  border: 1px solid #eaeaeb;
  padding: 15px 20px;
}
.main .sidebar__title {
  background-color: #fabe50;
  text-align: center;
  padding: 20px 10px;
  margin: 0;
  letter-spacing: 1.5px;
}
.main .sidebar__posts {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main .sidebar__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 0;
}
.main .sidebar__list:not(:last-child) {
  border-bottom: 1px dashed #eaeaeb;
}
.main .sidebar__img {
  width: 40%;
}
.main .sidebar__details {
  width: 50%;
  padding-left: 10px;
}
.main .sidebar__post-title {
  color: #a050be;
  font-size: 14px;
}
.main .sidebar__post-date {
  font-size: 12px;
  margin: 5px 0 0 0;
}

.footer {
  bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  left: 50%;
  padding: 20px 0;
  position: relative;
  text-align: center;
  transform: translateX(-50%);
}
.footer__logo {
  max-width: 100px;
}
.footer__txt {
  margin: auto;
  font-size: 14px;
}

.about {
  border: 1px solid red;
  margin: 0 auto 40px;
  width: 80%;
}
.about__title {
  background-color: #eaeaeb;
  text-align: center;
  padding: 20px;
}
.about__h1 {
  color: #464646;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
}
.about .breadcrumb {
  align-items: center;
  display: flex;
  justify-content: center;
}
.about .breadcrumb__link {
  color: #464646;
  font-size: 12px;
  text-decoration: none;
}
.about .breadcrumb__link:hover {
  color: #a050be;
  text-decoration: #a050be;
}
.about .breadcrumb__img {
  margin: 8px;
  width: 10px;
}
.about__img {
  margin-bottom: 20px;
  width: 100%;
}
.about__intro {
  color: #464646;
  font-size: 16px;
  font-weight: 100;
  margin: 30px auto;
  text-align: center;
  width: 70%;
}
.about__split {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about__img-description {
  width: 45%;
}
.about__txt {
  width: calc(100% - 45%);
}
.about__p {
  color: #464646;
  font-size: 14px;
  padding: 10px 20px;
}

.article {
  width: 80%;
  margin: 0 auto 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.article__title {
  background-color: #eaeaeb;
  text-align: center;
  padding: 20px;
}
.article__h1 {
  font-size: 22px;
  color: #464646;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.article .breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article .breadcrumb__link {
  font-size: 12px;
  color: #464646;
}
.article .breadcrumb__link:hover {
  color: #a050be;
}
.article .breadcrumb__img {
  width: 10px;
  margin: 8px;
}
.article__img {
  margin-bottom: 20px;
  width: 100%;
}
.article__details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article__date {
  font-size: 12px;
  font-style: italic;
  margin: 0 10px;
}
.article__tag {
  border: 1px solid #a050be;
  color: #a050be;
  font-size: 14px;
  margin: 0 10px;
  padding: 5px 7px;
}
.article__content {
  font-weight: 100;
  font-size: 14px;
  color: #464646;
  padding: 10px 20px;
}

/*# sourceMappingURL=style.css.map */
