$dark-gray: #464646;
$light-gray: #eaeaeb;
$purple: #a050be;
$yellow: #fabe50;
$img-width: 45%;

.header {
  font-family: Arial, Helvetica, sans-serif;

  &__logo {
    text-align: center;
  }

  &__img {
    max-width: 350px;
  }

  .menu {
    &__list {
      border-top: 1px solid $light-gray;
      border-bottom: 1px solid $light-gray;
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      padding: 20px 0;
      width: 80%;
    }

    &__links {
      position: relative;

      &:not(:last-child)::after {
        background-color: $light-gray;
        bottom: 0;
        content: "";
        height: 15px;
        margin: auto;
        position: absolute;
        top: 0;
        right: -3px;
        width: 1px;
      }
    }

    &__link {
      color: $dark-gray;
      padding: 0 25px;

      &:hover {
        color: $purple;
      }
    }
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;

  &__content {
    width: 70%;
    padding: 40px 8px;
  }

  &__post {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;
  }

  &__title {
    color: $dark-gray;
    font-size: 22px;
    letter-spacing: 1.5;
    text-decoration: none;

    &:hover {
      color: $purple;
    }
  }

  &__subtitle {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  &__date {
    font-size: 12px;
    font-style: italic;
    margin: 0 10px;
  }

  &__tag {
    border: 1px solid $purple;
    color: $purple;
    margin: 0 10px;
    font-size: 14px;
    padding: 5px 7px;
  }

  &__details {
    border: 1px solid $light-gray;
  }

  &__img {
    width: 100%;
  }

  &__description {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    padding: 40px 0 25px;
  }

  &__btn {
    background-color: $yellow;
    color: $purple;
    font-size: 16px;
    letter-spacing: 1.5;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: $yellow;
      background-color: $purple;
    }
  }

  &__info {
    align-items: center;
    border-top: 1px solid $light-gray;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__author {
    border-right: 1px solid $light-gray;
    width: 50%;
  }

  &__p {
    font-size: 14px;
    color: $dark-gray;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__comments {
    width: 50%;
  }

  &__a {
    color: $dark-gray;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;

    &:hover {
      color: $purple;
    }
  }
}

.footer {
  bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  left: 50%;
  padding: 20px 0;
  position: relative;
  text-align: center;
  transform: translateX(-50%);

  &__logo {
    max-width: 100px;
  }

  &__txt {
    margin: auto;
    font-size: 14px;
  }
}

.about {
  border: 1px solid red;
  margin: 0 auto 40px;
  width: 80%;

  &__title {
    background-color: $light-gray;
    text-align: center;
    padding: 20px;
  }

  &__h1 {
    color: $dark-gray;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
  }

  .breadcrumb {
    align-items: center;
    display: flex;
    justify-content: center;

    &__link {
      color: $dark-gray;
      font-size: 12px;
      text-decoration: none;

      &:hover {
        color: $purple;
        text-decoration: $purple;
      }
    }

    &__img {
      margin: 8px;
      width: 10px;
    }
  }

  &__img {
    margin-bottom: 20px;
    width: 100%;
  }

  &__intro {
    color: $dark-gray;
    font-size: 16px;
    font-weight: 100;
    margin: 30px auto;
    text-align: center;
    width: 70%;
  }

  &__split {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__img-description {
    width: $img-width;
  }

  &__txt {
    width: calc(100% - #{$img-width});
  }

  &__p {
    color: $dark-gray;
    font-size: 14px;
    padding: 10px 20px;
  }
}
