$dark-gray: #464646;
$light-gray: #eaeaeb;
$purple: #a050be;
$yellow: #fabe50;
$img-width: 45%;

%no-decoration {
  text-decoration: none;
}
%u-decoration {
  text-decoration: underline;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flx($property, $jty-cnt) {
  display: flex;
  #{$property}: $jty-cnt;
}

@mixin for-phone-only {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin for-tablet-only {
  @media (min-width: 768px) and (max-width: 1199.98px) {
    @content;
  }
}

@mixin for-desktop-only {
  @media (min-width: 1200px) {
    @content;
  }
}

@function calculateRem($size) {
  @return ($size / 16px) * 1rem;
}

@mixin fontSize($size) {
  font-size: calculateRem($size);
}

@import 'header', 'footer', 'about', 'article', 'collection', 'contact';

// definindo variáveis
$directions: top, bottom, left, right;
$layout-margin-size: 10px;

@each $direction in $directions {
  %no-margin-#{$direction} {
    margin-#{$direction}: 0;
  }
  %default-margin-#{$direction} {
    margin-#{$direction}: $layout-margin-size;
  }
  %double-margin-#{$direction} {
    margin-#{$direction}: $layout-margin-size * 2;
  }
  %half-margin-#{$direction} {
    margin-#{$direction}: $layout-margin-size / 2;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;

  &__content {
    @include for-phone-only {
      width: 100%;
    }
    width: 70%;
    padding: 40px 8px;
  }

  &__post {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;
  }

  &__title {
    color: $dark-gray;
    @include fontSize(22px);
    letter-spacing: 1.5;
    text-decoration: none;

    &:hover {
      color: $purple;
    }
  }

  &__subtitle {
    align-items: center;
    display: flex;
    justify-content: center;
    @extend %default-margin-top, %double-margin-bottom;
    // margin-bottom: 20px;
    // margin-top: 10px;
  }

  &__date {
    @include fontSize(12px);
    font-style: italic;
    @extend %no-margin-top,
      %no-margin-bottom,
      %default-margin-left,
      %default-margin-right;
    // margin: 0 10px;
  }

  &__tag {
    @include fontSize(14px);
    border: 1px solid $purple;
    color: $purple;
    @extend %no-margin-top,
      %no-margin-bottom,
      %default-margin-left,
      %default-margin-right;
    // margin: 0 10px;
    padding: 5px 7px;
  }

  &__details {
    border: 1px solid $light-gray;
  }

  &__img {
    width: 100%;
  }

  &__description {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    padding: 40px 0 25px;
  }

  &__btn {
    @include fontSize(16px);
    background-color: $yellow;
    color: $purple;
    letter-spacing: 1.5;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: $yellow;
      background-color: $purple;
    }
  }

  &__info {
    align-items: center;
    border-top: 1px solid $light-gray;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__author {
    border-right: 1px solid $light-gray;
    width: 50%;
  }

  &__p {
    @include fontSize(14px);
    color: $dark-gray;
    @extend %default-margin-top, %default-margin-bottom;
    // margin-top: 10px;
    // margin-bottom: 10px;
  }

  &__comments {
    width: 50%;
  }

  &__a {
    color: $dark-gray;
    @include fontSize(14px);
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;

    &:hover {
      color: $purple;
    }
  }

  &__sidebar {
    padding: 40px 10px;
    width: 25%;
  }

  .sidebar {
    &__top {
      border: 1px solid $light-gray;
      padding: 15px 20px;
    }

    &__title {
      background-color: $yellow;
      text-align: center;
      padding: 20px 10px;
      margin: 0;
      letter-spacing: 1.5px;
    }

    &__posts {
      @include reset-list;
    }

    &__list {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 15px 0;
      &:not(:last-child) {
        border-bottom: 1px dashed $light-gray;
      }
    }

    &__img {
      width: 40%;
    }

    &__details {
      width: 50%;
      padding-left: 10px;
    }

    &__post-title {
      color: $purple;
      @include fontSize(14px);
      @extend %no-decoration;

      &:hover {
        @extend %u-decoration;
      }
    }

    &__post-date {
      @include fontSize(12px);
      margin: 5px 0 0 0;
    }
  }
}
